* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-orange: #ff6702;
    --color-primary: #ffa500;
    --color-dark: #232323;
    --color-light: #eaeaea;
    --color-white: #fff;
    --color-red: #ff0000;
    --color-blue: #00bbff;
}

/*Container principal*/
#main-container{
    display: flex;
    margin-top: 4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px solid var(--color-dark);
    width: 100%;
    height: 100vh;
}

#main-container > div{
    width: 100%;
    height: 100vh;
}

/*Container do tipo de pizza*/
/*Container do tamanho e preco das pizzas*/
.pizza-type-container,
.pizza-sized-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    align-items: center;
}

/*Container do formulario de pizza*/
.pizza-type-container form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid var(--color-dark);
    gap: 2rem;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
}

.pizza-type-container input{
    width: 25%;
    max-width: 25%;
    padding: 0.5rem;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
}

.pizza-type-container input[type="file"] {
    width: 13rem;
    cursor: pointer;
}

.pizza-type-container button,
.pizza-sized-container button {
    background-color: var(--color-dark);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid var(--color-dark);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    transition: background 0.3s;
}

.pizza-type-container button:hover,
.pizza-sized-container button:hover {
    background-color: var(--color-orange);
}

/* Menu das pizzas cadastradas */
.pizza-menu-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid var(--color-dark);
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
}

.pizza-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid var(--color-dark);
}

.pizza-card img{
    width: 10%;
    height: auto;
    border-radius: 5px;
}


.pizza-sized-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid var(--color-dark);
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
}

.left-side{
    display: flex;
    gap: 10px;
}

.pizza-sized-container select {
    width: 25%;
    max-width: 25%;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
}

.pizza-sized-container input {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
}

/* Menu das pizzas cadastradas */
.size-pizza-menu-container{
    overflow-y: auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid var(--color-dark);
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
}