/* Declaração de variáveis CSS globais */
:root {
    --gray: #f5f5f5; /* Cinza bem claro */
    --gray-100: #e7e7e7; /* Cinza claro */
    --gray-200: #d1d1d1; /* Cinza médio */
    --gray-400: #888888; /* Cinza médio claro */
    --gray-800: #454545; /* Cinza escuro */

    --blue-color: #a7c5d3; /* Azul claro */
    --strong-blue-color: #2b00ff; /* Azul escuro para tamanhos */
    --orange-color: #ff6600; /* Laranja */
    --primary-color: #ffa500; /* Cor primária (amarelo) */
    --dark-color: #232323; /* Preto escuro */
    --black-color: #000; /* Preto */
    --light-color: #F5F5F5; /* Branco claro */
    --white-color: #fff; /* Branco */
    --red-color : #f00000; /* Vermelho */
}

/* Estilização do cabeçalho */
header {
    background-color: var(--black-color); /* Fundo preto */
    color: var(--white-color); /* Texto branco */
    position: fixed; /* Fixa o cabeçalho no topo da página */
    width: 100%; /* Largura total */
    padding: .9rem 5rem; /* Espaçamento interno vertical */
    z-index: 1000; /* Prioridade de exibição */
}

/* Estilização da barra de navegação */
nav {
    display: flex; /* Layout flexível */
    justify-content: space-between; /* Centraliza os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
    width: 100%; /* Largura total */
}

/* Estilização do logotipo */
#logo {
    text-decoration: none; /* Remove o sublinhado do texto */
    font-size: 30px; /* Tamanho da fonte */
    color: var(--white-color); /* Cor do texto branco */
    font-family: "Spicy Rice", serif; /* Fonte personalizada */
    font-weight: 400; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte normal */
    transition: 0.3s; /* Transição suave para efeitos */
}

/* Efeito hover no logotipo */
#logo:hover {
    color: var(--primary-color); /* Altera a cor para a cor primária */
    transform: scale(1.02); /* Aumenta levemente o tamanho */
}

/* Estilização dos links de navegação */
.nav-links {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Layout flexível */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 2rem; /* Espaçamento entre os links */
}

/* Estilização dos links individuais */
.nav-links li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    display: inline-block; /* Exibe os links como blocos inline */
    font-weight: 700; /* Peso da fonte em negrito */
    color: var(--primary-color); /* Cor do texto com a cor primária */
    transition: 0.3s; /* Transição suave para efeitos */
}

/* Efeito hover nos links de navegação */
.nav-links li a:hover {
    text-decoration: none; /* Remove o sublinhado */
    color: var(--orange-color); /* Altera a cor para laranja */
    transform: scale(1.09); /* Aumenta levemente o tamanho */
}


/* Estilização do contêiner de ícones no cabeçalho */
.header-icons {
    display: flex; /* Define um layout flexível para os ícones */
    gap: 1.5rem; /* Adiciona um espaçamento de 1.5rem entre os ícones */
}

/* Estilização das imagens dos ícones no cabeçalho */
.header-icons img {
    width: 30px; /* Define a largura da imagem como 30px */
    height: 30px; /* Define a altura da imagem como 30px */
}