/* Importação de fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

/* Reset básico para garantir consistência entre navegadores */
* {
    box-sizing: border-box; /* Inclui bordas e padding no cálculo do tamanho total do elemento */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
    font-family: "Roboto", sans-serif; /* Define a fonte padrão como Roboto */
}

/* Variáveis CSS para facilitar a reutilização de cores */
:root {
    --gray: #f5f5f5; /* Cinza bem claro */
    --gray-100: #e7e7e7; /* Cinza claro */
    --gray-200: #d1d1d1; /* Cinza médio */
    --gray-400: #888888; /* Cinza médio claro */
    --gray-800: #454545; /* Cinza escuro */

    --blue-color: #a7c5d3; /* Azul claro */
    --strong-blue-color: #2b00ff; /* Azul escuro para tamanhos */
    --orange-color: #ff6600; /* Laranja */
    --primary-color: #ffa500; /* Cor primária (amarelo) */
    --dark-color: #232323; /* Preto escuro */
    --black-color: #000; /* Preto */
    --light-color: #F5F5F5; /* Branco claro */
    --white-color: #fff; /* Branco */
    --red-color : #f00000; /* Vermelho */
}

/* Define comportamento de rolagem suave para o documento */
html {
    scroll-behavior: smooth;
}

/* Estilização básica do corpo da página */
body {
    font-family: "Roboto", sans-serif; /* Fonte padrão */
    font-optical-sizing: auto; /* Ajuste óptico automático da fonte */
    font-weight: 400; /* Peso normal */
    font-style: normal; /* Estilo normal */
}

/* Estilo para links */
a {
    color: var(--primary-color); /* Cor primária */
    transition: color 0.5s; /* Transição suave ao mudar a cor */
}

/* Estilo para títulos de nível 2 */
h2 {
    font-family: "Rubik Dirt", system-ui; /* Fonte personalizada */
    font-weight: 400; /* Peso normal */
    font-style: normal; /* Estilo normal */
    color: var(--white-color); /* Cor branca */
    font-size: 3rem; /* Tamanho da fonte */
    margin-bottom: 1.5rem; /* Espaçamento inferior */
}

/* Estilo para seções específicas, exceto as com IDs "home" e "contact" */
section:not(#home, #contact, #orders) {
    padding: 4rem; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

/* Estilo para parágrafos */
p {
    font-size: 1.1rem; /* Tamanho da fonte */
}

/* Estilo para o elemento <address> */
address {
    width: 100%; /* Largura total */
    height: 30vh; /* Altura de 30% da altura da viewport */
    font-style: italic; /* Texto em itálico */
    display: flex; /* Layout flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    gap: 10rem; /* Espaçamento entre os elementos filhos */
}

/* Estilo para os elementos <div> dentro de <address> */
address div {
    display: flex; /* Layout flexível */
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
}

/* Estilo para links dentro de <address> ao passar o mouse */
address a:hover {
    color: var(--orange-color); /* Muda a cor para laranja */
}

/* Estilo para o rodapé */
footer {
    background-color: var(--dark-color); /* Fundo escuro */
    color: var(--white-color); /* Texto branco */
    padding: 4rem 2rem 2rem; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}