:root {
    --orange-color: #e65c00;
    --primary-color: #ffa500;
    --dark-color: #232323;
    --light-color: #eaeaea;
    --white-color: #fff;
    --black-color: #000;
    --red-color: #ff0000;
    --green-color: #13a613;
}

#login-form-container, #register-form-container {
    text-align: center;
    padding: 30px;
    width: 300px;
}

#login-form-container h3, #register-form-container h3 {
    color: var(--dark-color);
    margin-bottom: 10px;
}

#login-form-container input, #register-form-container input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid var(--light-color);
    border-radius: 8px;
    font-size: 1em;
}

#login-form-container button, #register-form-container button {
    width: 100%;
    margin-top: 8px;
    padding: 11px 12px;
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background 0.5s;
}

#login-form-container button:hover, #register-form-container button:hover {
    background-color: var(--orange-color);
}

#login-form-container p, #register-form-container p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--dark-color);
}

#show-register, #show-login {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: color 0.5s;
}

#show-register:hover, #show-login:hover {
    color: var(--orange-color)
}

.hidden {
    display: none;
}

.error-message {
    color: var(--red-color);
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    display: block;
}

#register-form .error,
#login-form .error{
    border: 2px solid var(--red-color);
}

.success-message {
    color: var(--green-color);
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    display: block;
}