:root {
    --gray: #f5f5f5; /* Cinza bem claro */
    --gray-100: #e7e7e7; /* Cinza claro */
    --gray-200: #d1d1d1; /* Cinza médio */
    --gray-400: #888888; /* Cinza médio claro */
    --gray-800: #454545; /* Cinza escuro */

    --blue-color: #a7c5d3; /* Azul claro */
    --size-solor: #2b00ff; /* Azul escuro para tamanhos */
    --orange-color: #ff6600; /* Laranja */
    --primary-color: #ffa500; /* Cor primária (amarelo) */
    --dark-color: #232323; /* Preto escuro */
    --black-color: #000; /* Preto */
    --light-color: #F5F5F5; /* Branco claro */
    --white-color: #fff; /* Branco */
    --red-color : #f00000; /* Vermelho */
}

/* Estilo geral para os contêineres de login e registro */
#login-form-container, #register-form-container {
    text-align: center; /* Centraliza o texto */
    padding: 30px; /* Espaçamento interno */
    width: 300px; /* Largura fixa */
}

/* Estilo para os títulos (h3) dentro dos contêineres */
#login-form-container h3, #register-form-container h3 {
    color: var(--dark-color); /* Cor escura */
    margin-bottom: 10px; /* Espaçamento inferior */
}

/* Estilo para os campos de entrada (input) */
#login-form-container input, #register-form-container input {
    width: 100%; /* Largura total do contêiner */
    padding: 12px; /* Espaçamento interno */
    margin: 8px 0; /* Espaçamento vertical */
    border: 1px solid var(--light-color); /* Borda clara */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 1em; /* Tamanho da fonte */
}

#register-form-container input[type="date"] {
    cursor: pointer;
}

/* Estilo para os botões */
#login-form-container button, #register-form-container button {
    width: 100%; /* Largura total */
    margin-top: 8px; /* Espaçamento superior */
    padding: 11px 12px; /* Espaçamento interno */
    background-color: var(--primary-color); /* Cor de fundo primária */
    border: none; /* Remove bordas padrão */
    color: var(--white-color); /* Cor do texto branca */
    font-weight: bold; /* Texto em negrito */
    border-radius: 8px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    font-size: 1.1em; /* Tamanho da fonte */
    transition: background 0.5s; /* Transição suave para a cor de fundo */
}

/* Estilo para os botões ao passar o mouse */
#login-form-container button:hover, #register-form-container button:hover {
    background-color: var(--orange-color); /* Cor de fundo laranja */
}

/* Estilo para os parágrafos dentro dos contêineres */
#login-form-container p, #register-form-container p {
    margin-top: 1rem; /* Espaçamento superior */
    font-size: 0.9rem; /* Tamanho da fonte */
    color: var(--dark-color); /* Cor escura */
}

/* Estilo para os links de alternância entre login e registro */
#show-register, #show-login {
    color: var(--primary-color); /* Cor primária */
    text-decoration: none; /* Remove sublinhado */
    font-weight: bold; /* Texto em negrito */
    font-size: 0.9rem; /* Tamanho da fonte */
    transition: color 0.5s; /* Transição suave para a cor */
}

/* Estilo para os links ao passar o mouse */
#show-register:hover, #show-login:hover {
    color: var(--orange-color); /* Cor laranja */
}

/* Classe para esconder elementos */
.hidden {
    display: none; /* Oculta o elemento */
}