:root {
    --orange-color: #e65c00;
    --primary-color: #ffa500;
    --dark-color: #232323;
    --light-color: #eaeaea;
    --white-color: #fff;
    --black-color: #000;
}

.order-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 170px;
    width: 200px;
    background-color: var(--white-color);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.609);
    border-radius: 5px;
    transition: 0.9s;
    cursor: auto;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.order-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.order-container h4{
    margin-bottom: 5px;
}

.order-container input:hover,
.order-container label:hover{
    font-weight: 500;
    cursor: pointer;
}

.order-container button{
    position: absolute;
    bottom: -15px;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.828);
    border-style: none;
    border-radius: 10px;
    color: var(--dark-color);
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1.5rem;
    padding: 6px 16px;
    text-decoration: none;
    transition: 0.2s;
}

.order-container button:hover{
    background-color: var(--orange-color);
    transform: scale(1.03);
    cursor: pointer;
}

.blur-img{
    opacity: 1;
    filter: blur(1px);
}