:root {
    --orange-color: #e65c00;  /* Cor laranja */
    --primary-color: #ffa500; /* Cor primária (amarelo-laranja) */
    --dark-color: #232323;    /* Cor escura */
    --light-color: #eaeaea;   /* Cor clara */
    --white-color: #fff;      /* Branco */
    --black-color: #000;      /* Preto */
}

.order-container {
    display: flex;                     /* Define layout flexível */
    align-items: center;               /* Alinha os itens verticalmente ao centro */
    justify-content: center;           /* Centraliza os itens horizontalmente */
    position: absolute;                /* Define posição absoluta */
    top: 33%;                          /* Posiciona 33% a partir do topo */
    left: 50%;                         /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);  /* Ajusta para centralização exata */
    height: 170px;                     /* Altura fixa */
    width: 200px;                      /* Largura fixa */
    background-color: var(--white-color); /* Fundo branco */
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.609); /* Sombra ao redor */
    border-radius: 5px;                /* Bordas arredondadas */
    transition: 0.9s;                  /* Transição suave para efeitos */
    cursor: auto;                      /* Cursor padrão */
}

.hidden {
    opacity: 0;                        /* Torna o elemento invisível */
    pointer-events: none;              /* Desativa interações */
    transition: opacity 0.3s ease;     /* Transição suave para opacidade */
}

.visible {
    opacity: 1;                        /* Torna o elemento visível */
    pointer-events: auto;              /* Ativa interações */
    transition: opacity 0.3s ease;     /* Transição suave para opacidade */
}

.order-container form {
    display: flex;                     /* Define layout flexível */
    flex-direction: column;            /* Organiza os itens em coluna */
    justify-content: center;           /* Centraliza os itens verticalmente */
    align-items: center;               /* Centraliza os itens horizontalmente */
    gap: 10px;                         /* Espaçamento entre os itens */
}

.order-container h4 {
    margin-bottom: 5px;                /* Margem inferior */
}

.order-container input:hover,
.order-container label:hover {
    font-weight: 500;                  /* Aumenta o peso da fonte */
    cursor: pointer;                   /* Altera o cursor para indicar interatividade */
}

.order-container button {
    position: absolute;                /* Define posição absoluta */
    bottom: -15px;                     /* Posiciona abaixo do container */
    background-color: var(--primary-color); /* Fundo com cor primária */
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.828); /* Sombra ao redor */
    border-style: none;                /* Remove bordas */
    border-radius: 10px;               /* Bordas arredondadas */
    color: var(--dark-color);          /* Cor do texto */
    display: inline-block;             /* Exibe como bloco inline */
    font-size: 1rem;                   /* Tamanho da fonte */
    font-weight: 700;                  /* Peso da fonte */
    margin-top: 1.5rem;                /* Margem superior */
    padding: 6px 16px;                 /* Espaçamento interno */
    text-decoration: none;             /* Remove sublinhado */
    transition: 0.2s;                  /* Transição suave para efeitos */
}

.order-container button:hover {
    background-color: var(--orange-color); /* Altera a cor de fundo para laranja */
    transform: scale(1.03);                /* Aumenta ligeiramente o tamanho */
    cursor: pointer;                       /* Altera o cursor para indicar interatividade */
}

.blur-img {
    opacity: 1;                            /* Mantém a opacidade */
    filter: blur(1px);                     /* Aplica um desfoque leve */
}