<section id="menu">
  <h2>Cardápio</h2>
  <div id="main-container">
    <div class="pizza-type-container">

      <form action="/api/pizzas/create" method="post" enctype="multipart/form-data">
        <input type="text" name="title" id="title" placeholder="Título" required>
        <input type="text" name="description" id="description" placeholder="Descrição" required>
        <input type="file" name="description" id="description" placeholder="Descrição" required>

      </form>

      <div class="pizza-form-container">
        
      </div>
    </div>

    <div class="pizza-sized-container">
      
    </div>
  </div>
</section>