<!-- Início do rodapé da página -->
<footer>
    <!-- Seção de contato -->
    <section id="contact">
      <!-- Título da seção -->
      <h2>Contato</h2>
  
      <!-- Descrição sobre como entrar em contato -->
      <p>Entre em contato conosco para fazer pedidos ou tirar suas dúvidas.</p>
  
      <!-- Informações de endereço -->
      <address>
        <p>
          <!-- Endereço físico da pizzaria -->
          <strong>Endereço:</strong>
          Avenida Onze de Outubro, nº 123<br>
          Centro, Cidade Qualquer/RJ CEP: 12345-678
        </p>
  
        <div>
          <!-- Informações de telefone -->
          <p><strong>Telefone:</strong> (11) 5555-5555</p>
          <p>
            <!-- E-mail para contato com link clicável -->
            <strong>E-mail:</strong>
            <a href="mailto:contato@pizzacode.pizza">contato@pizzacode.pizza</a>
          </p>
        </div>
  
        <div>
          <!-- Horário de funcionamento da pizzaria -->
          <p><strong>Horário de Funcionamento:</strong></p>
          <p>Segunda a Sábado: 11h00 às 23h00 - Domingo: 16h00 às 23h00</p>
          <p></p>
        </div>
      </address>
    </section>
    <!-- Copyright com o ano atual -->
    <p>&copy; 2025 PizzaCode</p>
</footer>