<section id="home">
    <div class="hero">
      <% if (userData.role !== "") { %>
        <h1>Bem-vindo, <%= userData.name %> !</h1>
      <% } else { %>
        <h1>Bem-vindo à PizzaCode</h1>
      <% } %>
      <p>Saborosas pizzas feitas especialmente para você!</p>
      <a href="#menu" class="cta-button">Ver Cardápio</a>
    </div>
</section>