<section id="orders">
    <div id="orders-main-container">
        <div id="orders-container">
            <h3 >Pedidos</h3>
            <ul id="orders-list">
                <li class="pending-order order-clicked">
                    <p class="pending-order-status">Pendente</p>
                    <p>#673</p>
                    <p>Junior</p>
                    <p>11:56:15</p>
                </li>
                <li class="pending-order order-clicked">
                    <p class="pending-order-status">Pendente</p>
                    <p>#674</p>
                    <p>Ana</p>
                    <p>11:56:15</p>
                </li>
                <li class="preparing-order order-clicked">
                    <p class="preparing-order-status">Preparando</p>
                    <p>#675</p>
                    <p>Watilha</p>
                    <p>11:56:15</p>
                </li>
                <li class="preparing-order order-clicked">
                    <p class="preparing-order-status">Preparando</p>
                    <p>#676</p>
                    <p>Keila</p>
                    <p>11:56:15</p>
                </li>
            </ul>
        </div>
        <div id="order-details-container" class="empty">
            <div id="hidden-container" class="hidden">
                <div id="address">
                    <img src="/images/apartment.png" alt="">
                    <p>
                        Endereço: <br>
                        Campo Leal - Sumidouro - Rio de Janeiro - CEP 28637000
                    </p>
                </div>
                <div id="order-items">
                    <table>
                        <thead>
                            <tr>
                                <tr>
                                    <th>Quantidade</th>
                                    <th>Pizza</th>
                                    <th>Tamanho</th>
                                    <th>Preço</th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1x</td>
                                <td>Cheddar</td>
                                <td>P</td>
                                <td>R$ 21.99</td>
                            </tr>
                            <tr>
                                <td>2x</td>
                                <td>Calabresa</td>
                                <td>M</td>
                                <td>R$ 54.99</td>
                            </tr>
                            <tr>
                                <td>1x</td>
                                <td>4 Queijo</td>
                                <td>G</td>
                                <td>R$ 29.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="total-value-container">
                    <p>Total: R$ 106.97</p>
                </div>
                <div id="order-details-buttons">
                    <button class="cancel-order-button">Cancelar</button>
                    <button class="confirm-order-button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</section>